<mat-card class="mission-form-card d-flex flex-column">
  <mat-card-header>
    <mat-card-title>Mission Description</mat-card-title>
    <mat-card-subtitle>Enter you Mission specialty.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="d-flex flex-column">
    <!-- Mission Input Field -->
    <mat-form-field appearance="fill" class="flex-grow-1"> <!-- Allow it to grow -->
      <mat-label>Enter mission description</mat-label>
      <textarea
        matInput
        [(ngModel)]="mission.description"
        placeholder="Enter mission description"
        rows="4"
      ></textarea>
    </mat-form-field>

    <!-- Mission Level 1 Input Field -->
    <mat-form-field appearance="fill" class="flex-grow-1"> <!-- Allow it to grow -->
      <mat-label>Enter mission level 1</mat-label>
      <input
        matInput
        [(ngModel)]="mission.level1"
        placeholder="Enter mission level 1"
        type="text"
      />
    </mat-form-field>

    <!-- Mission Level 2 Input Field -->
    <mat-form-field appearance="fill" class="flex-grow-1"> <!-- Allow it to grow -->
      <mat-label>Enter mission level 2</mat-label>
      <input
        matInput
        [(ngModel)]="mission.level2"
        placeholder="Enter mission level 2"
        type="text"
      />
    </mat-form-field>

    <!-- Mission Level 3 Input Field -->
    <mat-form-field appearance="fill" class="flex-grow-1"> <!-- Allow it to grow -->
      <mat-label>Enter mission level 3</mat-label>
      <input
        matInput
        [(ngModel)]="mission.level3"
        placeholder="Enter mission level 3"
        type="text"
      />
    </mat-form-field>


    <!-- Get Quiz Button -->
    <div class="mt-2"> <!-- Add margin-top for spacing -->

      <button mat-raised-button [disabled]="loading" color="primary" (click)="submitMission(mission)" class="w-100 d-flex align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
          <div class="p-2">
            <div>Get Quiz</div>
          </div>
          <div class="p-2">
            @if (loading) {
              <mat-spinner color="primary" diameter="20" class="ml-2"></mat-spinner>
            }
          </div>

        </div>


      </button>
    </div>

  </mat-card-content>
</mat-card>
