<div class="container mt-4" *ngIf="!quizCompleted">
    <h1 class="text-center">Quiz: {{ selectedQuiz?.title }}</h1>
    <p class="text-center">{{ selectedQuiz?.description }}</p>
  
    <form (ngSubmit)="submitQuiz()">
      <div *ngFor="let question of selectedQuiz?.questions; let i = index" class="mb-4">
        <div class="question">
          <p class="fw-bold">{{ question.text }}</p>
  
          <div *ngFor="let answer of question.answers" class="form-check">
            <ng-container [ngSwitch]="answer.type">
              <div *ngSwitchCase="getAnswerType().SINGLE_CHOICE">
                <input
                  type="radio"
                  [name]="'question' + i"
                  [value]="answer.text"
                  [(ngModel)]="question.selectedOption"
                  class="form-check-input"
                  id="answer{{ i }}{{ answer.id }}"
                />
                <label [for]="'answer' + i + answer.id" class="form-check-label">
                  {{ answer.text }}
                </label>
              </div>
              <div *ngSwitchCase="getAnswerType().MULTIPLE_CHOICE">
                <input
                  type="checkbox"
                  [(ngModel)]="answer.selected"
                  class="form-check-input"
                  id="answer{{ i }}{{ answer.id }}"
                />
                <label [for]="'answer' + i + answer.id" class="form-check-label">
                  {{ answer.text }}
                </label>
              </div>
              <div *ngSwitchCase="getAnswerType().TEXT">
                <input
                  type="text"
                  [(ngModel)]="answer.text"
                  class="form-control"
                  placeholder="Type your answer here"
                />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  
  <div class="container mt-4" *ngIf="quizCompleted">
    <h2 class="text-center">Your Score</h2>
    <p class="text-center fs-4">
      Your score is: <span class="fw-bold">{{ score }}/{{ selectedQuiz?.questions?.length }}</span>
    </p>
  </div>
  