<div class="container mt-5">
  <h1 class="text-center mb-4">Developer Quiz</h1>
  <form (ngSubmit)="onSubmit()" *ngIf="!quizCompleted">
    <div *ngFor="let question of selectedQuiz?.questions; let i = index" class="mb-4">
      <div class="card">
        <div class="card-header">
          <h5>{{ i + 1 }}. {{ question.text }}</h5>
        </div>
        <div class="card-body">
          <ng-container [ngSwitch]="question.type">
            <div *ngSwitchCase="getAnswerType().SINGLE">
              <div *ngFor="let answer of question.answers" class="form-check">
                <input
                  type="radio"
                  [name]="'question' + i"
                  [value]="answer.text"
                  [(ngModel)]="question.selectedOption"
                  class="form-check-input"
                  id="answer{{ i }}{{ answer.id }}"
                />
                <label [for]="'answer' + i + answer.id" class="form-check-label">
                  {{ answer.text }}
                </label>
              </div>
            </div>
            <div *ngSwitchCase="getAnswerType().MULTIPLE">
              <div *ngFor="let answer of question.answers" class="form-check">
                <input
                  type="checkbox"
                  [(ngModel)]="answer.selected"
                  class="form-check-input"
                  id="answer{{ i }}{{ answer.id }}"
                />
                <label [for]="'answer' + i + answer.id" class="form-check-label">
                  {{ answer.text }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <div class="container mt-4" *ngIf="quizCompleted">
    <h2 class="text-center">Your Score</h2>
    <p class="text-center fs-4">
      Your score is: <span class="fw-bold">{{ score }}/{{ selectedQuiz?.questions?.length }}</span>
    </p>
  </div>
</div>