
<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 50 28"
     preserveAspectRatio="none">
  <defs>
  <path id="gentle-wave"
       d="M-160 44c30 0
          58-18 88-18s
          58 18 88 18
          58-18 88-18
          58 18 88 18
          v44h-352z" />
  </defs>
  <g class="parallax">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#39bce5"/>
   <use xlink:href="#gentle-wave" x="50" y="1" fill="#3955e5"/>
   <use xlink:href="#gentle-wave" x="50" y="2" fill="#398fe5"/>
    <use xlink:href="#gentle-wave" x="50" y="3" fill="#0d6efd"/>
  </g>
</svg>
<div class="particles">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
</div>
<div class="layer1 spacer">



  <div class="container ">
    <div class="row">
      <div class="col-12">
        <mat-card class="w-100 my-3">
          <mat-card-header>
            <mat-card-title>Search Resource with AI</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="d-flex align-items-center gap-3">
              <!-- Search Input -->
              <div class="flex-grow-1">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Type to search..."
                  (keyup.enter)="onSearchClick()"
                  [(ngModel)]="searchContent"
                />
              </div>

              <!-- Search Button -->
              <button
                mat-raised-button
                color="primary"
                class="btn btn-primary d-flex align-items-center justify-content-center gap-2"
                (click)="onSearchClick()"
              >
                <span>Search</span>
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column">
          <h3 class="text-white">Search Results</h3>
          <mat-card-content>
            <mtx-grid [data]="sortedDocFiles()"
                  [columns]="columns"
                  [loading]="searching"
                  [cellTemplate]="{
                    content: contentTpl,
                     accuracy: accuracyTpl,
                     actions:actionsTpl,
                     name:nameTpl,
                     matchedWords: macthedTpl

                     }">
            </mtx-grid>

            <ng-template #contentTpl let-row let-index="index" let-col="colDef">
              <div style="max-width: 15rem" class="d-flex flex-wrap gap-1">
                @for (item of getFirstElements(row?.idealMission.specificTools,8); track $index) {
                  <div class="badge rounded-pill bg-primary">{{item}}</div>
                }
                @for (item of getFirstElements(row?.idealMission.skills,8); track $index) {
                  <div class="badge rounded-pill bg-primary ">{{item}}</div>
                }



              </div>


            </ng-template>

            <ng-template #macthedTpl let-row let-index="index" let-col="colDef" style="min-height: 20rem;" class="d-flex  align-items-center">
              <div style="max-width: 15rem" class="d-flex flex-wrap gap-1">
                @if (row.accuracy>0) {
                  @for (item of getFirst(row.matchedWords,9); track $index) {
                    <div class="badge rounded-pill bg-success">{{item}}</div>
                  }
                }

              </div>

            </ng-template>

            <ng-template #nameTpl let-row let-index="index" let-col="colDef">
              <div class="row mw-20 doc-fields d-flex flex-wrap gap-1" >
                <ul class="list-group">
                  <li class="list-group-item d-flex align-items-center gap-1 " style="min-width: 15rem;">
                    <mat-icon [ngStyle]="{'color': '#345eff'}" class="me-1">supervisor_account</mat-icon>
                    <div class="hide-overflow-mx">{{row?.idealMission?.jobTitles | subtags:1 }}</div>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <mat-icon [ngStyle]="{'color': '#439dd3'}" class="me-1">work</mat-icon>
                    <div>{{row?.idealMission?.skills | subtags:1 }}</div>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <mat-icon [ngStyle]="{'color': '#009fff'}" class="me-1">location_on</mat-icon>
                    <div>{{row?.idealMission?.yearsOfExperience | subtags:1 }}Exp, {{row?.idealMission?.locations | subtags:1 }}</div>
                  </li>
                  <li class="list-group-item d-flex align-items-center hide-overflow">
                    <mat-icon [ngStyle]="{'color': '#0087ff' }" class="me-1">location_city</mat-icon>
                    <div class="hide-overflow-mx">{{row?.idealMission?.companiesAndClient | subtags:2 | slice:0:30}}</div>
                  </li>
                </ul>


              </div>


            </ng-template>

            <ng-template #accuracyTpl let-row let-index="index" let-col="colDef">
              <div class="min-with-20">

                <div style="max-width: 17rem;">
                <apx-chart
                [series]="[(row.accuracy/maxAccuracy)*100, 100 - (row.accuracy/maxAccuracy)*100]"
                [labels]="chartOptions.labels"
                [chart]="chartOptions.chart"
                [responsive]="chartOptions.responsive"
                [colors]="['#4CAF50', 'grey']"
              ></apx-chart>
              </div>
              </div>


            </ng-template>

            <ng-template #actionsTpl let-row let-index="index" let-col="colDef">
              <div class="">
                <div class="btn-group-vertical mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center" (click)="askAi(row)">
                    <mat-icon>chat</mat-icon>
                  </button>
                  <button type="button" class="btn btn-outline-success btn-sm d-flex align-items-center justify-content-center" (click)="downloadFile(row)">
                    <mat-icon>download</mat-icon>
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm d-flex align-items-center justify-content-center" (click)="removeDocFile(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

            </ng-template>
          </mat-card-content>
        </div>
      </div>
      <div class="col-12">
        <div class="upload-container">
          <mat-card class="my-3 h-80">
            <mat-card-header>
              <mat-card-title>Upload File</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="d-flex flex-column align-items-center w-100 gap-3">
                <!-- File Selection Button -->
                <button
                  mat-icon-button
                  color="primary"
                  (click)="fileInput.click()"
                  class="btn btn-primary w-75 mb-3 d-flex align-items-center justify-content-center"
                >
                  <input
                    type="file"
                    multiple
                    #fileInput
                    style="display: none"
                    (change)="onFileSelected($event)"
                  />
                  <span class="text-truncate">{{ selectedFile?.name || 'Select Files' }}</span>
                  <mat-icon class="ml-2">upload</mat-icon>
                </button>

                <!-- Upload Button -->
                <button
                  *ngIf="selectedFile"
                  mat-raised-button
                  color="accent"
                  (click)="onUpload()"
                  class="btn btn-info w-75 text-white mb-3 d-flex align-items-center justify-content-center"
                >
                  Start Uploading
                  <mat-icon class="ml-2">cloud_upload</mat-icon>
                </button>

                <!-- Progress Bar -->
                <div class="w-75">
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-striped bg-success"
                      role="progressbar"
                      [style.width.%]="uploadProgress"
                      [attr.aria-valuenow]="uploadProgress"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      {{ uploadProgress }}%
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="row" style="min-height: 20rem;">

        <div class="col-md-12">
          <mat-card class="my-3">
            <mat-card-header>
              <mat-card-title>Tags</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <mat-card class="my-3 ">
              <mat-card-header>
                <mat-card-title>Mission Details</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div><strong>Search Subject:</strong> {{ mission.description }}</div>
                <div><strong>Job Titles:</strong> {{ mission.jobTitles }}</div>
                <div><strong>Tech Tools:</strong> {{ mission.techTools }}</div>
                <div><strong>Methodologies:</strong> {{ mission.methodologies }}</div>
                <div><strong>Field of Studies:</strong> {{ mission.fieldOfStudies }}</div>
                <div><strong>Skills:</strong> {{ mission.skills }}</div>
                <div><strong>Certifications:</strong> {{ mission.certifications }}</div>
                <div><strong>Industries:</strong> {{ mission.industries }}</div>
                <div><strong>Specific Tools:</strong> {{ mission.specificTools }}</div>
                <div><strong>Related Docs:</strong> {{ mission.relatedDocs.length }}</div>
              </mat-card-content>
            </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


